@model Ejercicio1.Models.Entities.Persona

@{
    ViewData["Title"] = "Inicio";
}

<h1>@ViewBag.Mensaje</h1>
<p>Fecha actual: @ViewBag.Fecha</p>

<hr />

<h2>Datos de la Persona</h2>
<ul>
    <li>ID: @ViewBag.Persona.Id</li>
    <li>Nombre: @ViewBag.Persona.Nombre</li>
</ul>

@Html.ActionLink("Ver Vista Listado Personas", "ListadoPersonas", "Home", null, new { @class = "btn btn-primary me-2" })
@Html.ActionLink("Ver datos de la persona con ID 3", "PersonaPosTres", "Home", null, new { @class = "btn btn-success" })
